
a {
  color: black;
  text-decoration: none;
}

body{
  background-color: inherit;
  margin: 0;
  padding: 0;
  height: 1080px;
}
/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 14px;
  height: 8px;
  padding: 4px;
  outline: 2px solid #bec0c2;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bec0c2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffb71b;
  border-radius: 12px;
  transition: .2s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c5c29b;
}

/* Start Font-End CSS*/

.jb {
  background-color: #0f2044;
  color:#0f2044 ;
  font-family: "Roboto", sans-serif;
  height: 1500px;
}

.signup-box {
  width: 360px;
  height: 1000px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}

.icon img {
  width: 60%;
  margin-top: 20px;
  margin-left: 80px;
}

.login-box {
  width: 360px;
  height: 400px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

.forgot-box {
  width: 360px;
  height: 275px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

h2 {
  text-align: center;
}


h4 {
  text-align: center;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 50px;
  font-size: 18px;
}

.labelname{
  display: flex;
  margin-left: 35px;
  font-size: 18px;
}
.checkboxlabel{
  display: flex;
  font-size: 12px;
  margin-left: 10px;
}
/* Controls forgotusername Required Message*/ 
.forgoterror{
  margin-top: 10px;
  margin-left: 22px;
  color: #a00c30;
  text-decoration: solid;
}
/* Controls label at top of Forgot username page*/ 
.labelname2{
  margin-left: 45px;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
/* Controls forgotusername inputbox*/ 
.inputbox{
  margin-left: 22px;
   width: 80%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}

/* Controls forgotusername submit buttons may need to seperate base on page*/ 
.submitforgot {
  display: inline-block;
  
  margin-left: 16px;
  padding: 7px 0px;
  width: 320px;
  height: 35px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb71b;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  position: relative;
}

.submit {
  display: inline-block;
  padding: 10px 0px;
  width: 320px;
  height: 35px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb71b;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.submit-2 {
  margin-left: 17.5px;
  display: inline-block;
  padding: 10px 0px;
  width: 320px;
  height: 35px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb71b;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

.submit:hover {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #a00c30;
  color: white;
  font-size: 1rem;
  transition: .2s
}
.submit-2:hover {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #a00c30;
  color: white;
  font-size: 1rem;
}


.indent{
  margin-top: 10px;
  margin-left: 65px;
  color: #0f2044;
}
.indent-2{
  margin-top: 10px;
  margin-left: 70px;
  color: #0f2044;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}

.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}

.para-2 a {
  color: #49c1a2;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #0f2044;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: .2s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ffb71b;
  color: white;
}
.topnav2 {
  background-color: #083456;
  overflow: hidden;
}
/* homepage css -Jordan*/
.topnav2 a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1% 1.9%;
  text-decoration: none;
  font-size: 100%;
  margin-top: 2%;
  transition: .2s;
}

/* Topnav Change the color of links on hover */
.topnav2 a:hover {
  background-color: #ffb71b;
  color: black;
}

/* Topnav Add a color to the active/current link */
.topnav2 a.active {
  background-color: #ffb71b;
  color: white;
}
/* Style the search box inside the navigation bar */
.topnav2 input[type=text] {
  float: right;
  padding: .3%;
  border: none;
  margin-top: -.8%;
  /* margin-top: 43px; */
  margin-bottom: 2%;
  margin-right: 10%;
  font-size: 100%;

}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
/* @media screen and (max-width: 1220px) {
  .topnav2 a, .topnav2 input[type=text] {
    float: center;
    display: block;
    text-align: left;
    width: 125px;
    margin: 0;
    padding: 14px;
  }
  .topnav2 input[type=text] {
    border: 1px solid #ccc;
  }
  .student-avatar {
    width: 100px;
    height: 100px;
    margin-left: 5%;
    float: left;
    position: relative;

    text-align: left;
  }
  .logo2{
    width: 100px;
    margin-top: 51px;
    margin-left: -473px;
    /* top: 25%; */
    /* text-align: left; */
   /* margin-bottom: -28px;
  }
  .student-avatar {
    width: 10%;
    height: 3%;
    margin-left: 5%;
    float: center;
    position: relative;
    top: 25%;
    text-align: left;
  }
  .nav-input-search{
    float: right;
      /* margin-left: -29px; */
     /* margin-right: -0px;
      background-color: #ffb71b;
      width: 75px;
      height: 25px;
      margin-top: -16px;
  }
  .nav-search{
    margin-left: 20px;
    margin-right: 40px;
  }
} */
.logo2{
  width: 10%;
  margin-top: 4%;
  margin-left: -41%;
  /* top: 25%; */
  /* text-align: left; */
  margin-bottom: -2.7%;
}
.student-avatar {
  width: 10%;
  height: 3%;
  margin-left: 5%;
  float: center;
  position: relative;
  top: 25%;
  text-align: left;
}
.heading2{

margin-right: 0px;
font-weight: 400;
font-size: 150%;
margin-left: 40%;
margin-top: 2% ;
margin-bottom: -2%;
float: center;
}
.feed-box{
  width: 25%;
    height: 45rem;
    margin-right: 30%;
    margin-left: 38.8%;
    margin-top: 3%;
    background-color: #555054;
    opacity: 80%;
    float: center;
    transition: .2s;
    border-radius: 1rem;
}
.feed-box:hover{
  width: 26%;
    height: 46rem;
    margin-right: 30%;
    margin-left: 38.8%;
    margin-top: 3%;
    background-color: #555054;
    opacity: 100%;
    float: center;
    border-radius: 2rem;
    border-width: 3%;
    border-color: #263149;
    border-style: solid;
   
}
.match-box{
  width: 35%;
  height: 35rem; 
  margin-left: 2%;
  margin-top: 0px;
  background-color: #263149;

  float: left;
  border-radius: 2%;
  opacity: 80%;
  transition: .2s;
}
.match-box:hover{
  width: 36%;
  height: 37rem; 
  margin-left: 1.8%;
  margin-top: 0px;
  background-color: #263149;

  float: left;
  border-radius:2%;
  border-width: 3%;
  border-color: #555054;
  border-style: solid;
  opacity: 100%;
  
}
.request-tojoin-match{
  float: right;
  width: 3rem;
  height: 2rem;
  font-size: 50%;
  margin-top: -9.9%;
  margin-right: 3%;
  background-color: #0f2044;
  color: #fdba13;
  transition: .2s;
}
.request-tojoin-match:hover{
  float: right;
  width: 3rem;
  height: 2rem;
  scale: 110%;
  font-size: 50%;
  margin-top: -9.9%;
  margin-right: 3%;
  opacity: 100%;
  background-color: #0f2044;
  color: #fdba13;
}
.profile-box{
  opacity: 40%;
}
a.student-avatar-link {
  padding: 0px 0px;
  margin: 0;
  scale: 65%;
  width: 45%;
}

.match-input{
  width: 70%;
  height:  1.3rem;
  margin-left: 10%;
  margin-top: -20%;
  font-size: 1rem;
  margin-bottom: 3%;
  margin-right: 4%;

}
.feed-input{
  width: 85%;
  height:  1.3rem;
  margin-left: 7%;
  margin-top: 10%;
  font-size: 1rem;
  margin-bottom: 3%;
  margin-right: 4%;
  text-align: left;
  text-overflow: clip;
}
.feed-input::placeholder{
  text-align: center;
}
.post-author{
  margin-left: 3%;
  color: black
}
.post-feed{
  color: black;
  margin-top: -1%;
}
.nav-input-search{
  float: right;
    /* margin-left: -29px; */
    margin-right: -20%;
    background-color: #ffb71b;
    width: 5%;
    height: 1.5rem;
    margin-top: -.7%;
}
.nav-search{
  margin-left: 0%;
  margin-right: 20%;
}
/*end homepage css*/
/* component css*/ 
.post-button{
  float: left;
}
.post-image{
  float: left;
  width: 9%;
  margin-left: 3%;

}
.post-box{
  background-color: white;
  border-radius: 1rem;
  transition: .2s;
  scale: 95%;

}
.post-box:hover{
  border-color: black;
  border-radius: .5rem;
  scale: 115%;
  background-color: whitesmoke;
  opacity: 80%;
}
.post-share-button{
  float: right;
  margin-right: 10%;
  margin-top: 1%;
  scale: 120%;
  background-color: rgb(207, 201, 201);
  justify-content: right;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: .7rem;
  font-weight: 600;
  transition: .2s;
}
.post-share-button:hover{
  float: right;
  margin-right: 10%;
  margin-top: 1%;
  scale: 130%;
  background-color: #a00c30;
  justify-content: right;
  align-items: center;
  text-decoration: none;
  color: black;
 
  font-weight: 600;
}
.match-image{
  float: left;
  width: 5%;
  margin-left: 3%;
  margin-right: 2%;

}
.match-post-box{
  background-color: white;
  border-radius: 1rem;
  width: 95%;
  margin-left: 2%;
  transition: .2s;
}
.match-post-box:hover{
  border-color: black;
  border-radius: 1.5rem;
  scale: 115%;
  background-color: whitesmoke;
  opacity: 80%;
}
.match-refresh{
  margin-left: 3%;
  margin-top: -2%;
  scale: 130%;
  background-color: #fdba13;
  transition: .2s;
}
.match-refresh:hover{
  margin-left: 3%;
  margin-top: -2%;
  scale: 130%;
  background-color: #a00c30;
}

  
.match-input-search{
  background-color: #ffb71b;
  margin-left: -2%;
  margin-top: -.3%;
  transition: .2s;
}
.match-input-search:hover{
  background-color: #a00c30;
  margin-left: -2%;
  margin-top: -.3%;
}
.your-matches{
  font-weight: 400;
  color: #ffb71b;
  margin-top: -1%;
  font-size: 1.5rem;
}
/* end component css*/
/*Jason CSS*/ 

.json {
  background-color: #bec0c2;
  background-size: cover;
  color: #332e2e;
  font-family: "Lucida Sans";
  
}

#header{

  position:absolute;
  top: 0px;
  left: 0px;

  height: 15%;
  width: 100%;

  background-color: #083456;

}
#heading{
  position: absolute;
  top: 22%;
  left: 10%;
}

#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;

  height: 7.5%;
  width: 100%;

  background-color: #332e2e;
  color: #ffffff;

  text-align: center;
}

#to_home{
  color:#083456;
  background-color: #fdba13;
  border-radius: 6px;
  border-color: transparent;

  width:  10%;
  height: 5%;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lucida Sans";

  position: absolute;
  bottom: 15%;
  right: 10%;

}

.logo{
  width: 20%;
  height : 50%;
  margin-left: 10%;
  position: relative;
  top: 25%;
}

.header_link{
  margin-left: 10%;

  font-size: 18px;
  font-weight:bold;
  text-decoration: none;

  color: #fdba13;

}
.footer_link{
  text-decoration: none;

  position: relative;
  top: 35%;

  color: #bec0c2;
}

.lone_display_group{
  position: absolute;
  top: 30%;
  left: 10%;
}

.connect_label{
  width: 20vw;
  margin:10px;
}
.connect_checkbox{
  width: 15px;
  height: 15px;
}

